.bookmark-page {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
  padding: 3rem 2rem;
}

.bookmark-page h2 {
  all: unset;
  text-align: center;
  font-size: 1.275rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.bookmark-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.bookmark-card:hover {
  transform: translateY(-2px);
}

.bookmark-date {
  font-size: 0.875rem;
  color: #888;
  margin-top: 1rem;
  text-align: right;
}

.bookmark-empty {
  text-align: center;
  color: #666;
  margin-top: 3rem;
}

.bookmark-card {
  background-color: #fff;
  padding: 1.25rem 1.5rem;
  border: 1px solid #e5e7eb;
  border-radius: 1rem;
  transition: transform 0.2s ease;
  text-decoration: none;
  color: inherit;
}

.bookmark-card:hover {
  transform: translateY(-1.5px);
  background-color: #f9f9f9;
}

.bookmark-preview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #333;
}

.bookmark-preview h2 {
  all: unset;
  font-size: 1.15rem;
  font-weight: 600;
  padding-bottom: 10px;
  color: #333;
}

.bookmark-preview p {
  all: unset;
  font-size: 0.9rem;
  color: #333;
}

.bookmarked-recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 36px;
}

.bookmarked-recipe-container h1 {
  all: unset;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.bookmarked-recipe-container .recipe-box {
  margin: 0;
}

@media (max-width: 480px) {
  .bookmark-preview h2 {
    font-size: 1rem;
  }

  .bookmark-preview p {
    all: unset;
    font-size: 0.87rem;
    color: #333;
  }

  .bookmark-date{
    font-size: 0.8rem;    
  }
}