.ingredient-list-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ingredient-list-section .not-enough-ingredient {
  font-size: 0.9rem;
  color: #d93025;
}

.ingredient-list-section h1 {
  font-size: 1.5rem;
  color: #202124;
}

.ingredient-list-section > p {
  color: #5f6368;
}

.ingredient-list {
  background-color: #ffffff;
  border: 1px solid #dadce0;
  border-radius: 8px;
  padding: 18px;
}

.ingredient-list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.ingredient-list ul li {
  background-color: #edf1f9;
  border: 1px solid #dadce0;
  border-radius: 4px;
  font-size: 1rem;
  color: #3c4043;
  list-style: none;
}

.list-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding: 4px;
}

.ingredient-name {
  overflow-wrap: break-word;
  padding: 2px;
}

.remove-icon {
  all: unset;
  display: flex;
  align-items: center;
  background: none;
  width: 20px;
  color: #5f6368;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: color 0.2s ease;
}

.remove-icon svg:active {
  cursor: pointer;
  color: #d93025;
}
