.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f8fafd;
}

.spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: conic-gradient(
    rgba(70, 129, 241, 1),
    rgba(155, 40, 176, 1),
    rgba(245, 82, 48, 1),
    rgba(70, 129, 241, 1)
  );
  -webkit-mask: radial-gradient(circle, transparent 50%, black 61%);
  mask: radial-gradient(circle, transparent 50%, black 61%);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
