header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 11px;
  padding: 20px 32px;
  background-color: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
}

.left-item {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

.left-item img {
  width: 30px;
}

.left-item p {
  font-size: 22px;
  font-weight: 500;
  color: #202124;
}

.right-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.right-item .icon {
  color: #484a55;
}

.user-icon {
  all: unset;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a73e8;
  color: white;
  padding: 4px;
  border-radius: 100%;
  border: 0;
}

main {
  padding: 40px 30px;
  max-width: 800px;
  margin: 0 auto;
}


@media (max-width: 480px) {
  header {
    padding: 14px 26px;
  }

  .left-item img {
    width: 22px;
  }

  .left-item p {
    font-size: 18px;
    font-weight: 500;
    color: #202124;
  }

  .right-item {
    gap: 6px;
  }

  .right-item .icon {
    width: 22px;
  }

  .user-icon {
    width: 22px;
    height: 22px;
  }

  main {
    padding: 32px 24px;
    max-width: 800px;
    margin: 0 auto;
  }
}