@media (max-width: 768px) {
  .get-recipe {
    gap: 4px;
    padding: 16px 20px;
  }

  .get-recipe h3 {
    line-height: 1.2;
  }

  .recipe-box {
    margin-top: 24px;
    padding: 20px;
  }

  .recipe-box h2 {
    font-size: 1.25rem;
  }

  .recipe-box h3 {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .ingredient-container {
    padding: 18px;
    gap: 22px;
  }

  .ingredient-header {
    gap: 8px;
  }

  .form-headings h2 {
    font-size: 1rem;
  }

  .form-headings p {
    font-size: 0.8rem;
  }

  .ingredient-form {
    gap: 18px;
  }

  .input-section {
    gap: 8px;
  }

  .input-section>input {
    width: 65%;
    padding: 14px 14px;
    font-size: 0.9rem;
  }

  .input-section .add-button {
    width: 20%;
    padding: 12px 6px;
  }

  .add-button .text {
    display: none;
  }

  .add-button .icon {
    display: inline-block;
  }

  .ingredient-list {
    border-radius: 8px;
    padding: 16px;
  }

  .ingredient-list-section h1 {
    font-size: 1.2rem;
  }

  .ingredient-list ul {
    gap: 6px;
  }

  .list-content {
    gap: 2px;
    padding: 4px 8px;
  }

  .ingredient-name {
    font-size: 0.9rem;
    padding: 2px;
  }

  .remove-icon {
    width: 16px;
  }

  .warning {
    font-size: 0.7rem;
  }

  .get-recipe-btn {
    padding: 16px 20px;
    font-weight: bold;
    font-size: 0.9rem;
  }

  .stop-btn{
    font-size: 0.9rem;
  }
  .stop-icon{
    width: 20px;
  }

  .recipe-box {
    padding: 18px;
    margin-top: 20px;
  }

  .recipe-box h2 {
    font-size: 1.2rem;
    line-height: 1.25;
  }

  .recipe-box p {
    line-height: 1.4;
  }

  .recipe-box ul li,
  .recipe-box ol li {
    line-height: 1.3;
  }
}